// Transition Mixin
@mixin transition {
  transition: .75s cubic-bezier(.785, .135, .15, .86);
}

@mixin redButton {
  &.red {
    background-color: rgba(246, 79, 100) !important;
    border-color: rgba(246, 79, 100) !important;
    outline: rgba(246, 79, 100) !important;
    color: white !important;

    &:active {
      background-color: rgba(246, 79, 100) !important;
      border-color: rgba(246, 79, 100) !important;
      outline: rgba(246, 79, 100) !important;
      color: white !important;
    }
  }
}
